@import "normalize.css";

html {
  all: initial;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 1.8rem 1.8rem;
  padding: 3.6rem;
  font-family: "Lora", georgia, serif;
  max-width: 34rem;
  color: gray(40%);
  line-height: 1.8rem;
}

@media screen and (max-width: 46rem) {
  html {
    font-size: 17px;
  }
  body {
    margin: 1.8rem;
    padding: 1.8rem;
  }
}

@media screen and (max-width: 34rem) {
  html {
    font-size: 16px;
  }
  body {
    margin: 0;
    padding: 1.8rem;
    max-width: none;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: gray(20%);
  line-height: 1.35;
  margin-bottom: 1.8rem;
}

h5,
h6 {
  display: none
}

h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  line-height: 1.8rem;
  margin-bottom: 1.35rem;
}

ul {
  padding-left: 1.8rem;
  margin: 1.35rem 0;
}

blockquote {
  margin: 0;
  font-style: italic;
  color: gray(40%);
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.8rem;
    width: 0.45rem;
    background: gray(90%);
  }
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s linear;
}

a:hover, a:active {
  color: gray(60%);
}
